# 8 May 2019 - Notes

## Print output

In [1]:
print("Hello World")

Hello World

In [2]:
var1 = 123
var2 = (var1 * var1) ** (23)
var3 = (var1 ** var1)

var3

114374367934617190099880295228066276746218078451850229775887975052369504785666896446606568365201542169649974727730628842345343196581134895919942820874449837212099476648958359023796078549041949007807220625356526926729664064846685758382803707100766740220839267

## count digits in a number

In [3]:
print(len(str(var2)))

97

## getting the data type

In [4]:
type(var3)
type("jhansi")

str

## string slicing

In [4]:

str1 = "gitam university"

str1[0] 
str1[len(str1)-1] 
str1[0:6] 
str1[len(str1)-1::-1] 
str1[0:len(str1):2] 
str1[5::-2] 
str1[7:] * 10
print(str1[7:], end='\n')
print(str1[7:], end='\n')

niversity
niversity

In [6]:
li = [123, 345, 'Python']
len(li) 
li[2] 
li[len(li)-1] = 'Programming'
li.append('Python') 
li[2:]
li.pop() 
li.remove(345)
li.pop(0) 
li.insert(0, 123)
li.insert(1, 345)
li2 = [[1,2,3],[4,5,6],[7,8,9]]
li2.insert(3,[10,11,12])
li2.pop(3)
li2.remove([7,8,9])
li2 = [[1,2,3],[4,5,6,10],[7,8,9]]
li2[1].pop(3)
li.pop()
li.sort()
li.append(987)
li.append(534)
li.extend([765, 432, 999])
li.sort()
li

[123, 345, 432, 534, 765, 987, 999]

## tuples

In [7]:
t1 = (123, 345, 567)
t1[2] + t1[1] 

t1[len(t1)-1] 

t1[1:3] 
str(t1[0])[1] + " " + str(t1[1])[1] + " " +str(t1[2])[1]

t1 = (123, 345, 567)

str(t1[0])[2::-1] + str(t1[1])[2::-1] + str(t1[2])[2::-1]

'321543765'

## read input from the user

In [2]:
str1 = input()

str1

s

's'

## dictionaries

In [1]:
d1 = {'procedural':'C', 'Scripting':'Python', 'Functional':'Haskell'}


d1['Scripting']

d1.values()
d1.keys()
d2 = {'Symbolic':'Mathematica', 'logic':'Prolog'}
d1.update(d2) 

d1['ObjectOriented'] = 'Java' 

d1['logic']
d1

{'procedural': 'C',
 'Scripting': 'Python',
 'Functional': 'Haskell',
 'Symbolic': 'Mathematica',
 'logic': 'Prolog',
 'ObjectOriented': 'Java'}

# PYTHON FOR LOOP

In [5]:
color_list = ["Red", "Blue", "Green", "Black"]
for c in color_list:
        print(c)

Red
Blue
Green
Black

# Python for loop and range() function

In [6]:
for a in range(4):
    print(a)

0
1
2
3

# Python for loop: Iterating over tuple, list, dictionary

In [7]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) # Declaring the tuple
count_odd = 0
count_even = 0
for x in numbers:
        if x % 2:
              count_odd+=1
        else:
             count_even+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 4
Number of odd numbers : 5

# Iterating over list

In [8]:
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12],{"class":'V', "section":'A'}]
for item in datalist:
    print ("Type of ",item, " is ", type(item))

Type of  1452  is  <class 'int'>
Type of  11.23  is  <class 'float'>
Type of  (1+2j)  is  <class 'complex'>
Type of  True  is  <class 'bool'>
Type of  w3resource  is  <class 'str'>
Type of  (0, -1)  is  <class 'tuple'>
Type of  [5, 12]  is  <class 'list'>
Type of  {'class': 'V', 'section': 'A'}  is  <class 'dict'>

# Iterating over dictionary

In [15]:
color = {"c1": "Red", "c2": "Green", "c3": "Orange"}
for value in color.values():
    print(value)

Red
Green
Orange

# STRINGS

In [19]:
a = "Python string"
print (a)
b = a[2]
print(b)
a = "Python string"
print(a[2:3]) #String Slicing
a = "Python string"
print(a[-2])
b = "X" + a[1:]  #String Concatination 
print(b)
a = "Python" + "String" # String concatination
print(a)

Python string
t
t
n
Xython string
PythonString

# Traverse string with a while or for loop

In [20]:
a = "STRING"
i = 0
while i < len(a):
    c = a[i]
    print(c)
    i = i + 1

S
T
R
I
N
G

# String slices:

In [23]:
a = "Python String"
print (a[0:5])
print(a[6:11])
print(a[5:13])
print(a[3:])

Pytho
 Stri
n String
hon String